@model SimpleMembershipApp.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<table class="table table-hover">
    <tr>
        <th><a>Upload</a></th>
        <th><a>Folder</a></th>
        <th><a>Delete</a></th>
        <th><a>Rename</a></th>
    </tr>
</table>
