<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerPath" value="D:\ManagerServer\"/>
    <add key="LogPath" value="D:\log.txt"/>
    <add key="ManagerInfoStorage" value="D:\ManagersStorage\"/>
  </appSettings>
  <connectionStrings>
    <add name="AppDbContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='|DataDirectory|\managerStore.mdf';Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>