@model IEnumerable<UserStore.BLL.DTO.ProductDto>

<h2>Results:</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        Founded products
    </div>
    <table class="table table-striped">
        <tr>
            <th>Product name</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" class="text-center">There are no products</td>
            </tr>
        }
        else
        {
            foreach (var product in ViewBag.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <p><a class="btn btn-default" href="/Product/Edit/@product.Id">Edit</a>
                        </p></td>
                    <td>
                        <p><a class="btn btn-default" href="/Product/Delete/@product.Id">Delete</a>
                        </p></td>
                </tr>
            }
        }
    </table>
</div>