
@{
    ViewBag.Title = "Chart";
}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });

        function onDrawBarButtonClick() {
            var actionUrl = '@Url.Action("GetManagersData", "Home")';
            $.getJSON(actionUrl, drawBarChart);
        }

        function drawBarChart(response) {
            var objs = [];
            objs.push(['Manager', 'Orders count']);

            for (var i = 0; i < response.length; i++) {
                var obj = [response[i].Name, response[i].OrdersCount];
                objs.push(obj);
            }

            var data = google.visualization.arrayToDataTable(objs);

            var options = {
                chart: {
                    title: 'Orders details',
                    subtitle: 'Orders amount, Total price'
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>

<body>
    <div>
        <button type="button" class="btn btn-primary" onclick="onDrawBarButtonClick()">Draw bar</button>
    </div>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
</body>

