@using UserStore.BLL.DTO

@model IEnumerable<OrderDto>
@{
    ViewBag.Title = "Index";
}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        //google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Manager', 'Amount', 'Total price', 'Frequency per day'],
                ['Arseni', 10, 430, 1],
                ['Arseni2', 8, 560, 2],
                ['Arseni3', 8, 700, 2],
                ['Arseni4', 12, 430, 1]
            ]);

            var options = {
                chart: {
                    title: 'Orders details',
                    subtitle: 'Sale amount, Total price, and frequency'
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>

@using (Ajax.BeginForm("OrdersList", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Show info"/>
        <input type="button" id="chartBuilder" class="btn btn-default" value="Show chart" onclick="drawChart()"/>
    </div>
}

<div id="columnchart_material" style="width: 800px; height: 500px;"></div>

<div id="results">

</div>

@Scripts.Render("~/scripts/jquery-1.10.2.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")