body {
    padding-top: 50px;
    padding-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0;
    padding-right: 0;
}

.container-with-padding {
    padding-left: 10px;
    padding-right: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}s

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*----------------------*/
/*----HEADER SECTION----*/
/*----------------------*/

.td-header {
    height: 3.5625rem;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

.td-header__floating {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 2px 2px -2px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.08);
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    width: 100%;
    z-index: 2;
}

.td-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 61.25rem;
    padding: 0 1rem;
}

.td-header__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.td-header__brand {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.td-header__actions {
    list-style: none;
    padding: 0;
    margin: 0;
}