@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container center_div">
    <a href="Account/Login" class="btn btn-primary btn-wide form-control" id="btnlogin">Log in</a>
</div>

<div class="container center_div">
    <a href="Account/Register" class="btn btn-primary btn-wide form-control">Register</a>
</div>