<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MyConnection" 
         connectionString="server=localhost;UserId=root;password=LukE4321LukE;database=cloudbox;" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="autoFormsAuthentication" value="true"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="MySqlSimpleMembershipProvider">
      <providers>
        <clear />
        <add
          name="MySqlSimpleMembershipProvider" 
          type="MySql.Web.Security.MySqlSimpleMembershipProvider,MySql.Web,Version=6.9.9.0,Culture=neutral,PublicKeyToken=c5687fc88969c44d" 
          applicationName="CloudBoxService" 
          description="MySQLdefaultapplication" 
          connectionStringName="MyConnection" 
          userTableName="UserProfile" 
          userIdColumn="UserId" 
          userNameColumn="UserName" 
          autoGenerateTables="True"
          
          enablePasswordRetrieval="false"
          enablePasswordReset="false"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MembershipBinding">
          <security mode ="Message">
            <message clientCredentialType ="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceCredentials>
            <userNameAuthentication
            userNamePasswordValidationMode="MembershipProvider"
            membershipProviderName="MySqlMembershipProvider" />
          </serviceCredentials>
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
