@model List<ActivityViewModel>
@{
    ViewData["Title"] = "Home";
}

<div class="myheader">
    <div class="header-text">
        <h1>CTR</h1>
        <div class="hero-text">
            Tool for your time spending
        </div>
    </div>
    <a asp-controller="Activity" asp-action="Index" class="btn btn-primary header-button">Activities</a>
</div>