@using UserStore.BLL.DTO

@model IEnumerable<ManagerDto>
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-primary" href="/Purchase/Create/">Create</a>

<div class="panel panel-primary">
<div class="panel-heading">
    All sales
</div>
<table class="table table-striped">
    <tr>
        <th>Manager Id</th>
        <th>Manager name</th>
    </tr>
    @if (!Model.Any())
    {
        <tr>
            <td colspan="3" class="text-center">There is no purchases</td>
        </tr>
    }
    else
    {
        foreach (var manager in Model)
        {
            <tr>
                <td>@manager.Id</td>
                <td>@manager.LastName</td>
                <td><p><a class="btn btn-default" href="/Purchase/Edit/@manager.Id">Edit</a></p></td>
                <td><p><a class="btn btn-default" href="/Purchase/Delete/@manager.Id">Delete</a></p></td>
            </tr>
        }
    }
</table>
</div>

