@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

This page open only for admin and provides addition information about
    used solutions in this project
<br />
Identity system was created from 0
<br />
1 admin in database, other users get role "user" during the registration
<br />
using Repository
<br />
using UnitOfWork
<br />
using Ajax
