@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Grodno
    <br />
    <abbr title="Phone">Phone:</abbr>
    +375292898730
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sen4k1303@gmail.com">sen4k1303@gmail.com</a><br />
</address>